html, body {
  font-size: 100%;
  padding: 0;
  margin: 0;
}

body {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

h1 {
	font-size: 3em;
	text-align: center;
	font-weight: 700;
}

h2 {
	font-size: 2em;
	text-align: center;
}


/*login*/

.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}


.login {
  width: 100%;
  text-align: center;
  z-index: 1;
  margin-left: auto;
  margin-right: auto; 
}

/*end of login*/

form {
	margin: 50px auto 0 auto;
	width: 80%;
}


.info {
	color: white;
	float: left;
}

.info img {
	width: 11%;
    float: left;
}

.info p {
	float: left;
    margin-top: 13px;
    margin-left: 30px;
    font-size: 14px;
}

.btn-logout {
	float: right;
	margin-top: 4px
}

.form-control {
	height: 50px;
}

.btn {
	padding: 10px 20px;
    border-radius: 0;
    font-weight: 700;
    text-transform: uppercase;
}

.btn-primary {
	margin-top: 30px;
}

.list-item {
    padding: 10px 0;
    border: 1px solid #ccc;
}

.list-item span {
	font-size: 1.5em;
}

.todos {
	margin-top: 100px;
}